<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">
    </style>
  </head>
  <body>
    <h1>Hello <%= @user.email_id %></h1>
    <p>
    OTP is <%= @otp %>
    </p><br>
    <p>Warm regards,<br>
    Get Art</p>
  </body>
</html>