<% if user.errors.any? %>
  <div id="error_explanation">
    <h2>
      User not created due to the following errors(<%= user.errors.count %>):
    </h2>
    <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if flash[:error].present? %>
  <div class="flash-msg-box">
    <%= flash[:error].html_safe %>
  </div>
<% end %>