<div class="container seller-registered">
<div class="row">
  <div class='congratulate'> Congratulations </div>
</div>
<div class="row">
  <div class="title art-sell"> YOU ARE GET ART SELLER NOW </div>
</div>
<div class="sell-art-button-center">
  <%= button_to "SELL ART", new_product_path, method: :get, class: "sell-art-button" %>
</div>
<div class="row register-footer">

  <div class="col-3">
    Legal side of sale
  </div>
  <div class="col-3">
    Payment
  </div>
  <div class="col-3">
    Shipping of art
  </div>
  <div class="col-3">
    More about selling art on get Art
  </div>
  
</div>


</div>