<div class="category-dropdown">
  <% @categories.each do |category| %>
  <div class="dropdown category">
    <div class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= category.name.upcase %>
    </div>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% category.subcategories.each do |subcategory| %>
      <a class="dropdown-item" href="#"><%= subcategory.name %></a>
      <% end %>
    </div>
  </div>
  <% end %>
  <div class="dropdown category">
    <div class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= "SELL ART" %>
    </div>
  </div>
</div>