// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.order-card{
  margin: 3% auto;
  background: lightgrey;
}

.order-card-header{
  border-bottom: 1px solid grey;
}