// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.product-creation {
  background:#dbe4ea;
  width: 75%;
  margin: 50px auto;
  padding: 20px 30px;
}

.title{
  font-weight: bold;
  color:#931717;
} 

.register-img{
  height: 310px;
  width: 100%;
  background: asset-url('seller-registration.jpg') 0% 0% no-repeat;
  background-size: 95% 100%;
  background-position: center;
}

.register-head {
  font-size: 35px;
  font-weight: bold;
  margin-left: 135px;
  padding-top: 35px;
}

.register-button{
  float: right;
  background: #C9D6DF;
  color: #900D0D;
  border-radius: 4px;
  width: 226px;
  height: 43px;
  margin-right: 100px;
  margin-top: 50px;
}

.detail-title {
  font-weight: bold !important;
}

.main-head {
  font-size: 30px;
  font-weight: bold;
  margin: 33px 0px;
}

.register-card {
  margin: 33px 0px;
}

.get-art-details {
  margin: 0px 70px;
}

.product-operation {
  background: #F0F5F9;
  width: 75%;
  margin: 0 auto;
}

.product-header {
  width: 100%;
  border-bottom: 1px solid #C9D6DF;
  height: 30px;
  padding: 20px 30px;
  font-weight: bold;
}

.product-header-sm {
  width: 100px;
  float: left;
  font-size: 12px;
}

.sell-options {
  height: 40px;
  padding: 20px 30px;
  font-weight: bold;
}