// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.field{
  width: 100%;
  padding: 2% 0;
  display: flow-root;
}

.field-right{
  text-align: right;
}

.field-center{
  text-align: center;
}

.bold-text{
  font-weight: bold;
}

.dark-red{
  color: #900D0D;
}

.light-red{
  color: #CF1B1B;
}

.otp-field{
  width: 12.5% !important;
  height: auto !important;
  padding: 3% !important;
  margin: 0 1%;
}

.signin-box .login-background, .signup-box .signup-background{
	background-color: #F0F5F9;
	margin: 10% 20%;
	padding: 2%;
	width: 60%;
	margin-bottom: 5%;
}

.signin-box h2, .signup-box h2{
  font: normal normal bold 30px/41px Arial;
  letter-spacing: 0px;
  color: #900D0D;
  opacity: 1;
}

.signin-box p, .signup-box p{
  font: normal normal medium 14px/19px Montserrat;
  letter-spacing: 0px;
  color: #1E2022;
  opacity: 1;
}

.new_user{
  margin-top: 10%;
}

.forgot-password{
  font: normal normal medium 16px/21px Montserrat;
  letter-spacing: 0px;
  color: #CF1B1B;
  opacity: 1;
}

.signup-link, .login-link{
  font: normal normal 600 16px/21px Montserrat;
  letter-spacing: 0px;
  color: #CF1B1B;
  opacity: 1;
}

.signin-box .login-field, .signup-box .signup-field{
  padding-right: 10%;
}

.signin-box input[type="text"], .signin-box input[type="email"],
.signin-box input[type="password"], .signup-box input[type="text"],
.signup-box input[type="email"], .signup-box input[type="password"],
.signup-password-field:focus{
  padding: 1.5% 3%;
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.15000000596046448px solid #52616B;
  border-radius: 4px;
  opacity: 1;
}

.email-shower, .email-shower:focus,
.signup-password-field, .signup-password-field:focus{
  width: 1% !important;
  padding: 3% !important;
}

.email-shower, .email-shower:focus{
  padding: 3% 0 !important;
  font: normal normal medium 14px/19px Montserrat;
  letter-spacing: 0px;
  color: #C9D6DF !important;
  opacity: 1;
}

.form-control:focus{
  box-shadow: none !important;
}

.input-group-text{
  font: normal normal medium 16px/21px Montserrat !important;
  letter-spacing: 0px;
  color: #52616B !important;
  opacity: 1;
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
  border: 0.15000000596046448px solid #52616B !important;
  border-radius: 4px !important;
}

.email-shower, .signup-password-field, .left-input-group-text{
  border-right: none !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.email-shower, .signup-password-field, .right-input-group-text{
  border-left: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.signin-box input[type="submit"], .signup-box input[type="submit"], .button-like,{
  border-radius: 5px;
  border: 2px solid #B6BFC4;
  background-color: #B6BFC4;
  padding: 1% 10%;
  margin: 1% auto;
  text-decoration: none;
  font: normal normal medium 16px/21px Montserrat;
  letter-spacing: 0px;
  color: #1E2022;
  opacity: 1;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, 
:-ms-input-placeholder, ::-ms-input-placeholder, ::placeholder{
  font: normal normal medium 16px/19px Montserrat;
  letter-spacing: 0px;
  color: #C9D6DF;
  opacity: 1;
}

.signin-box .signup-link-margin, .signup-box .login-link-margin{
  margin-top: 10%;
}

.signin-box a:hover, .signup-box a:hover,{
  color: #CF1B1B;
}

.button-like:hover{
  background-color: #6C5B5B;
  color: white;
  text-decoration: none;
}

.change-link{
  font: normal normal normal 14px/19px Montserrat;
  letter-spacing: 0px;
  color: #CF1B1B;
  opacity: 1;
}

.otp-sent-label{
  font: normal normal medium 14px/19px Montserrat;
  letter-spacing: 0px;
  color: #1E2022;
  opacity: 1;
}

.otp-timer, .otp-timer a{
  font: normal normal normal 14px/19px Montserrat;
  letter-spacing: 0px;
  color: #CF1B1B !important;
  opacity: 1;
  padding: 0.5% 0;
}

.otp-field-container{
  display: flex;
  align-items: center;
}

.otp-field-container .otp-label{
  text-align: left;
  font: normal normal medium 16px/21px Montserrat;
  letter-spacing: 0px;
  color: #52616B;
  opacity: 1;
  padding-right: 5%;
  width: 25%;
}

.otp-fields{
  width: 75%;
}

.change-visibility:hover{
  cursor: pointer;
}

.make-invisibile{
  display: none;
}

.complete-signup-field .field{
  display: flex;
  align-items: center;
}

.complete-signup-field .field label{
  width: 30%;
  float: left;
  margin-bottom: 0;
  font: normal normal medium 16px/21px Montserrat;
  letter-spacing: 0px;
  color: #1E2022;
  opacity: 1;
}

.complete-signup-field .field input[type="text"]{
  padding: 2% 5%;
  width: 70%;
  float: left;
  text-align: left;
  font: normal normal bold 20px/25px Montserrat;
  letter-spacing: 0px;
  color: #1E2022;
  opacity: 1;
}

.complete-signup-field ::-webkit-input-placeholder,
.complete-signup-field :-moz-placeholder, 
.complete-signup-field ::-moz-placeholder, 
.complete-signup-field :-ms-input-placeholder,
.complete-signup-field ::-ms-input-placeholder,
.complete-signup-field ::placeholder{
  text-align: left;
  font: normal normal bold 20px/25px Montserrat;
  letter-spacing: 0px;
  color: #C9D6DF;
  opacity: 1;
}

.complete-signup-submit-field{
  display: flow-root !important;
  margin: 10% auto;
  margin-bottom: 0;
}

// Dashboard
.grid-container{
  display: grid;
  grid-template-columns: 2fr 4fr;
  margin: 5% auto;
}

.col-user-img, .user-actions-container{
  padding: 5% 20%;
}

.grey-color-container{
  background-color: #F0F5F9;
  border-radius: 30px;
}

.user-img-container{
  padding: 0 0 10% 0;
}

.edit-container{
  text-align:right;
  width: 100%;
  padding: 4% 10%;
}

.edit-container a, .edit-container a:hover{
  text-align: left;
  font: normal normal medium 16px/21px Montserrat;
  letter-spacing: 0px;
  color: #1E2022;
  opacity: 1;
  text-decoration: none;
  text-transform: uppercase;
}

.edit-container a:hover{
  color: #D3DDE5;
}

.user-img{
  text-align:center;
  width: 100%;
}

.user-img img{
  width: 50%;
}

.name-container, .email-container, .phone-no-container, .log-out-container{
  text-align:center;
  width: 100%;
  padding: 5%;
}

.name-container{
  padding: 10% 5% 5% 5%;
  font: normal normal bold 20px/25px Montserrat;
  letter-spacing: 0px;
  color: #1E2022;
  opacity: 1;
  text-transform: capitalize;
}

.email-container, .phone-no-container{
  font: normal normal medium 16px/21px Montserrat;
  letter-spacing: 0px;
  color: #1E2022;
  opacity: 1;
}

.log-out-container a, .log-out-container a:hover{
  font: normal normal bold 20px/25px Montserrat;
  letter-spacing: 0px;
  color: #CF1B1B;
  opacity: 1;
  text-transform: uppercase;
}

.user-actions-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10%;
  padding: 5% 15%;
  padding-right: 25%;
}

.user-actions-container a, .user-actions-container a:hover{
  text-decoration: none;
}

.user-actions-container a:hover .grey-color-container{
  background-color: #DFE6EC;
}

.user-action-container{
  display: flex;
  padding: 5% 15%;
  height: 100%;
  padding-right: 5%;
}

.action-img{
  display: flex;
  width: 30%;
}

.action-img img{
  width: 100%;
}

.action-hreader-des{
  width: 70%;
  padding: 5% 10%;
  padding-left: 5%;
}

.action-hreader-des h5{
  text-align: left;
  font: normal normal bold 17px/22px Montserrat;
  letter-spacing: 0px;
  color: #1E2022;
  opacity: 1;
  text-transform: capitalize;
}

.action-hreader-des p{
  text-align: left;
  font: normal normal medium 13px/18px Montserrat;
  letter-spacing: 0px;
  color: #1E2022;
  opacity: 1;
  margin: 0;
}