// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.field{
  width: 100%;
  padding: 0.5em 0;
  display: flow-root;
}

.field-right{
  text-align: right;
}

.field-center{
  text-align: center;
}

.bold-text{
  font-weight: bold;
}

.dark-red{
  color: #900D0D;
}

.light-red{
  color: #CF1B1B;
}

.otp-field{
  width: 3em !important;
  height: 3em !important;
}

.signin-box .login-background, .signup-box .signup-background{
  background-color: #F0F5F9;
  margin: 10em;
  padding: 1.5em;
}

.signin-box h2, .signup-box h2{
  font-size: 1.5em;
  font-weight: bold;
}

.signin-box .login-field, .signup-box .signup-field{
  padding-right: 4em;
}

.signin-box input[type="text"], .signin-box input[type="email"], .signin-box input[type="password"],
.signup-box input[type="text"], .signup-box input[type="email"], .signup-box input[type="password"]{
  border-radius: 5px;
  border: 2px solid lightgrey;
  background-color: white;
  padding: 4px 15px;
  width: 100%;
}

.signin-box input[type="submit"], .signup-box input[type="submit"], .button-like,{
  border-radius: 5px;
  border: 2px solid #B6BFC4;
  background-color: #B6BFC4;
  color: black;
  padding: 4px 40px;
  margin: 10px auto;
  text-decoration: none;
}

.signin-box .signup-link-margin, .signup-box .login-link-margin{
  margin-top: 5em;
}

.signin-box a:hover, .signup-box a:hover,{
  color: #CF1B1B;
}

.button-like:hover{
  background-color: #6C5B5B;
  color: white;
  text-decoration: none;
}

.show-email-field{
  display: flow-root;
  background: white;
  border: 2px solid lightgrey;
  border-radius: 5px;
  padding: 0 10px;
}

.show-email-field p, .show-email-field pre{
  margin: 5px auto;
}

.hidden-email{
  color: lightgrey;
}

// Dashboard
.grid-container{
  display: grid;
  grid-template-columns: 2fr 4fr;
  margin: 5% auto;
}

.col-user-img, .user-actions-container{
  padding: 5% 20%;
}

.grey-color-container{
  background-color: #F0F5F9;
  border-radius: 30px;
}

.user-img-container{
  padding: 0 0 10% 0;
}

.edit-container{
  text-align:right;
  width: 100%;
  padding: 4% 10%;
}

.edit-container a, .edit-container a:hover{
  text-align: left;
  font: normal normal medium 16px/21px Montserrat;
  letter-spacing: 0px;
  color: #1E2022;
  opacity: 1;
  text-decoration: none;
  text-transform: uppercase;
}

.edit-container a:hover{
  color: #D3DDE5;
}

.user-img{
  text-align:center;
  width: 100%;
}

.user-img img{
  width: 50%;
}

.name-container, .email-container, .phone-no-container, .log-out-container{
  text-align:center;
  width: 100%;
  padding: 5%;
}

.name-container{
  padding: 10% 5% 5% 5%;
  font: normal normal bold 20px/25px Montserrat;
  letter-spacing: 0px;
  color: #1E2022;
  opacity: 1;
  text-transform: capitalize;
}

.email-container, .phone-no-container{
  font: normal normal medium 16px/21px Montserrat;
  letter-spacing: 0px;
  color: #1E2022;
  opacity: 1;
}

.log-out-container a, .log-out-container a:hover{
  font: normal normal bold 20px/25px Montserrat;
  letter-spacing: 0px;
  color: #CF1B1B;
  opacity: 1;
  text-transform: uppercase;
}

.user-actions-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10%;
  padding: 5% 15%;
  padding-right: 25%;
}

.user-actions-container a, .user-actions-container a:hover{
  text-decoration: none;
}

.user-actions-container a:hover .grey-color-container{
  background-color: #DFE6EC;
}

.user-action-container{
  display: flex;
  padding: 5% 15%;
  height: 100%;
  padding-right: 5%;
}

.action-img{
  display: flex;
  width: 30%;
}

.action-img img{
  width: 100%;
}

.action-hreader-des{
  width: 70%;
  padding: 5% 10%;
  padding-left: 5%;
}

.action-hreader-des h5{
  text-align: left;
  font: normal normal bold 17px/22px Montserrat;
  letter-spacing: 0px;
  color: #1E2022;
  opacity: 1;
  text-transform: capitalize;
}

.action-hreader-des p{
  text-align: left;
  font: normal normal medium 13px/18px Montserrat;
  letter-spacing: 0px;
  color: #1E2022;
  opacity: 1;
  margin: 0;
}