// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.field{
  width: 100%;
  padding: 0.5em 0;
  display: flow-root;
}

.field-right{
  text-align: right;
}

.field-center{
  text-align: center;
}

.bold-text{
  font-weight: bold;
}

.dark-red{
  color: #900D0D;
}

.light-red{
  color: #CF1B1B;
}

.otp-field{
  width: 3em !important;
  height: 3em !important;
}

.signin-box .login-background, .signup-box .signup-background{
  background-color: #F0F5F9;
  margin: 10em;
  padding: 1.5em;
}

.signin-box h2, .signup-box h2{
  font-size: 1.5em;
  font-weight: bold;
}

.signin-box .login-field, .signup-box .signup-field{
  padding-right: 4em;
}

.signin-box input[type="text"], .signin-box input[type="email"], .signin-box input[type="password"],
.signup-box input[type="text"], .signup-box input[type="email"], .signup-box input[type="password"]{
  border-radius: 5px;
  border: 2px solid lightgrey;
  background-color: white;
  padding: 4px 15px;
  width: 100%;
}

.signin-box input[type="submit"], .signup-box input[type="submit"], .button-like,{
  border-radius: 5px;
  border: 2px solid #B6BFC4;
  background-color: #B6BFC4;
  color: black;
  padding: 4px 40px;
  margin: 10px auto;
  text-decoration: none;
}

.signin-box .signup-link-margin, .signup-box .login-link-margin{
  margin-top: 5em;
}

.signin-box a:hover, .signup-box a:hover,{
  color: #CF1B1B;
}

.button-like:hover{
  background-color: #6C5B5B;
  color: white;
  text-decoration: none;
}

.show-email-field{
  display: flow-root;
  background: white;
  border: 2px solid lightgrey;
  border-radius: 5px;
  padding: 0 10px;
}

.show-email-field p, .show-email-field pre{
  margin: 5px auto;
}

.hidden-email{
  color: lightgrey;
}